
body{
  background-color: aqua;
  padding: 0px;
  margin: 0px;
  
}
.App{
  background-image: linear-gradient(to right top, #8f6bd1, #3690f1, #00adf5, #00c4e3, #00d6c7, #5cd79d, #96d373, #cbca53, #f8ab45, #ff8462, #ff6198, #fb5fd8);
  text-align: center;
  padding-top: 0px;
  margin: 0px;
}