/* .bg{
    background-color: red;
    background-image: url("../Images/bg.png");
    background-size: cover;
   
    height: 600px;
   
    
} */
.image-slider{
    width: 100px;
    height: 300px;
}